@font-face {
	font-family: Sahel;
	src: url('fonts/Sahel.eot');
	src: url('fonts/Sahel.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sahel.woff2') format('woff2'),
		 url('fonts/Sahel.woff') format('woff'),
		 url('fonts/Sahel.ttf') format('truetype');
		 font-weight: normal;
}

@font-face {
	font-family: Sahel;
	src: url('fonts/Sahel-Bold.eot');
	src: url('fonts/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Sahel-Bold.woff2') format('woff2'),
		 url('fonts/Sahel-Bold.woff') format('woff'),
		 url('fonts/Sahel-Bold.ttf') format('truetype');
		 font-weight: bold;
}

@font-face {
	font-family: Vazir Code;
	src: url('fonts/Vazir-Code.eot');
	src: url('fonts/Vazir-Code.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Vazir-Code.woff') format('woff'),
		 url('fonts/Vazir-Code.ttf') format('truetype');
	font-weight: normal;
}

body, .book-summary, h1, h2, h3, h4 {
	font-family: 'Sahel', sans-serif;
	direction: rtl;
	text-align: right;
}

code, pre {
	direction: ltr !important;
	text-align: left !important;
	font-family: 'Vazir Code', sans-serif;
}

code {
	display: inline-block !important;
	padding: 0 !important;
}

img {
	display: block;
	margin: 15px auto;
	max-width: 100%;
	height: auto;
}
